<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="stokTakip.Properties.Settings.stokTakipConnectionString"
            connectionString="Data Source=52.164.242.14;Initial Catalog=stokTakip;User ID=limanerkan;Password=Masterwarior@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>